* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    color: #f5f7f7;
}

.container h1{
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: underline;
}

.container {
    height: 20rem;
    border: 1px solid black;
    padding: 3rem;
    width: 300px;
    height: 400px;
    background-color: #79031D;
}

.container p {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    text-align: center;
}

input {
    height: 1.5rem;
    width: 13rem;
    
}

.input {
    margin-bottom: 20px;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    font-size: 20px;
    padding: 0.1rem;
    width: 5rem;
    background-color: #edb518;
    border: none;
}

button:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
    transition: 0.5s;
    transform: scale(1.1);
}